* {

    margin: 0;
    padding: 0;

}
.main-text{
    padding-left:300px ;
    padding-top:30px;
    text-decoration: none;
    font-size: 30px;
}

.photo-container img {
    height: 70px;
    align-items: center;
    
    padding-top: 20px;
    padding-left: 100px;
    /* border: solid black 1px; */
    align-content:;
    /* width: ; */

    
}
.user-form{
    padding-left: 300px;
    margin: 30px;
}
.location img
{
    height: 100px;
    width: 100px;
    padding-left:200px ;
    

}